<header id="master-head" class="container-fluid">
			<div class="row">
				<a class="header-bar__logo">
            		<span class="icon-cisco"></span>
        		</a>
				<div class="col-sm-1 selected-tab">HOME</div>
				<div class="col-sm-7">
					<ul id="header-tabs" class="head-tabs list list--inline list--divider">
						<li class="active"><a class="link" href="/home">Home</a></li>
						<li><a class="link" href="#">Metrics That Matter</a></li>
						<li>
              <div class="btn-group" uib-dropdown keyboard-nav>
                <div id="simple-btn-keyboard-nav" uib-dropdown-toggle>
                    EiO Metrics Dashboard <span class="caret"></span>
                </div>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem" class="pull-left"><a href="#">All Incidents</a></li>
            <li role="menuitem" class="pull-left"><a href="#">OCC Incidents</a></li>
            <li role="menuitem" class="pull-left"><a href="#">OCC Problems</a></li>
            <li role="menuitem" class="pull-left"><a href="#">Recurring Incidents</a></li>
            <li role="menuitem" class="pull-left"><a href="#">Production Data Fix</a></li>
            <li role="menuitem" class="pull-left"><a href="#">Change Management</a></li>

        </ul>
    </div>
						</li>
						<li><a class="link" href="#">Supported Services <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></li>
						<li><a class="link" href="#">IT Automation Services <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></li>
						<li><a class="link" href="#">Other <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></li>
					</ul>
				</div>
				<div class="col-sm-3 header-comp3">
					<!--<div class="pull-left search col-sm-5 pad-lft-rgt-0">
								<input type="text" placeholder="search..." class="">
					</div> -->
					<div class="pull-right col-sm-6 pad-lft-rgt-0">
						<a href="" class="grey-head-circle head-usr-circle pull-left ">
							<span class="glyphicon glyphicon-user" aria-hidden="true" alt="User" title="User"></span>
						</a>
						<div class="child-grey-cir pull-left">
							<a href="" class="grey-head-circle pull-left">
								<span class="glyphicon glyphicon-comment" aria-hidden="true" alt="Comment" title="Comment"></span>
							</a>
							<a href="" class="grey-head-circle pull-left">
								<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" alt="Like" title="Like"></span>
							</a>
							<a href="" class="grey-head-circle pull-left">
								<span class="glyphicon glyphicon-question-sign" aria-hidden="true" alt="Question" title="Question"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="grey-bar row"></div>
		</header>
		