<div class="blue-banner">
			<span>0 Days Left in Q3 FY2017</span>
		</div>
		<section class="main-section container-fluid">
			<div class="row">
				<div class="col-md-8 main-section-title">
					<h1>EIO Next Generation <br> Metric Dashboard</h1>
					<h3>Explore information specific<br> to you and your role</h3>
					<button class="btn btn--primary">Learn More</button>
				</div>
				
				<div class="col-md-3 metric-changes">
					<h4 class="text-center">Recent Metric Changes</h4>
					<blockquote class="blockquote--warning">
						<span>PDF Count</span>
						<span class="pull-right font-bold">9</span>
					</blockquote>
					<blockquote class="blockquote--danger">
						<span>Service Restoration</span>
						<span class="pull-right font-bold">689</span>
					</blockquote>
					<blockquote class="blockquote--success">
						<span>Moderate Incidents</span>
						<span class="pull-right font-bold">689</span>
					</blockquote>
					<blockquote class="blockquote--success">
						<span>Unplanned Downtime(hrs)</span>
						<span class="pull-right font-bold">2.47</span>
					</blockquote>
				</div>
			</div>
		</section>